extends layout

block stylesheet
  link(rel='stylesheet', href='/stylesheets/cart.css')


block content
  .content
    .cart-page
      if locals.currentUser
        .products-container
          for cartProduct in cartContents
            .product-card
              .product-photo-container
                img(src=cartProduct.product.photo_url, alt="product photo")
              .product-info-container
                .remove-from-cart-container
                  i.bi.bi-x-lg
                .product-details
                  span.product-name #{cartProduct.product.name} #{cartProduct.option}
                  span.product-flavor Flavor: #{cartProduct.flavor.name}
                .bottom-container
                  .quantity-container
                    span.remove-quantity.quantity-controller -
                    span.quantity #{cartProduct.quantity}
                    span.add-quantity.quantity-controller +
                  .price-container
                    .discount-container
                      .member-logo-container
                        img(src="https://res.cloudinary.com/djg52dvw1/image/upload/v1661158616/express-members-only/logo_lowres_wwdllp.png", alt="primal membership logo")
                      span.discount-applied Members Discount Applied:
                    span.product-price $ 50.99
        .checkout-container
          .co-section
            span.co-summary Summary
          .co-section
            .co-subsection
              span.co-label Total partial:
              span.co-info $ 99.99
            .co-subsection
              span.co-label Shipping:
              span.co-info Free
          .co-section.co-dicount-container
            .co-label Discounts Applied:
            .co-subsection
              span.co-info Membership
              span.co-info - $30.00
          .co-hr 
          .co-section
            .co-subsection
              span.co-label Total:
              span.co-info $ 69.99
          .co-section
            a.co-button.global-button(href="#") Checkout
      else 
        h1 You must be logged in to use the cart



