extends layout

block stylesheet
  link(rel='stylesheet', href='/stylesheets/product_detail.css')


block content
  .product-page
    .container
      .path
        p
          a(href="/") Home 
          span  &gt; 
          a(href="/shop") Shop
          span  &gt; 
          span #{product.name}
      .product
        .photo
          img(src=product.photo_url, alt="product photo")
        .card-container
          //- this form is just for redirecting
          form.display-none(id='redirect-option')
          //- this form is to send data
          form.display-none(action='/add-to-cart' method='post' id='submit-product')
            input(type='text' id='option' name='product_option' value=selected_product)
            input(type='text' name='product' value=product.id)
          .card(action='#')
            .name
              h1 #{product.name}
            .price
              if locals.currentUser && locals.checkMember
                .member
                  .normal-price-container.price-container
                    .price
                      .line
                      span $ #{pricing.price.toFixed(2)}
                    .stock
                      span In Stock
                  .member-discount-container
                    .logo-container
                      img(src="https://res.cloudinary.com/djg52dvw1/image/upload/v1661158616/express-members-only/logo_lowres_wwdllp.png", alt="logo")
                    span.member-discount Members Discount Applied:
                  .member-price-container.price-container
                    span.price $ #{pricing.members_price.toFixed(2)}
                    span.stock In Stock
              else
                .member
                  .normal-price-container.price-container
                    .price
                      span $ #{pricing.price.toFixed(2)}
                    .stock
                      span In Stock
            .options
              .select
                label(for='option') Option
                //-  the "onchange" parameter is what enables the page to be redirected every time a new product option is selected from the dropdown menu
                select( name='option' 
                        id='option' 
                        form='redirect-option'
                        onchange='this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);')
                  each option in product.options
                    //- selected is a parameter passed from the controller
                    if option.weight===selected_product
                      option(value=(product.url + '/' + option.weight) selected) #{option.weight}
                    else
                      option(value=(product.url + '/' + option.weight)) #{option.weight}
              .select
                label(for='product_quantity') Quantity
                select(name='product_quantity' id='product_quantity' form='submit-product')
                  - var n = 0;
                  while n < 5
                    - n++
                    option(value=n) #{n}
            .flavor-section
              span.title Select Flavor
              .flavors
                each flavor in product.flavor
                  input.display-none(type='radio' id=`flavor_${flavor.name}` name='product_flavor' value=`${flavor.id}` form='submit-product' required)
                  label(for=`flavor_${flavor.name}`).flavor-container
                    .flavor-photo
                      img(src=flavor.photo_url, alt="flavor photo")
                    .name #{flavor.name}
            .buy
              button.buy-button.global-button(type='submit' form='submit-product') Buy Now
          if !locals.currentUser && !locals.checkMember
            .get-membership
              span Get our membership and pay only #[span.m-price $#{pricing.members_price.toFixed(2)}]
              a.get-m-button(href='/membership')
                .m-logo
                  img(src="https://res.cloudinary.com/djg52dvw1/image/upload/v1661158616/express-members-only/logo_lowres_wwdllp.png", alt="logo")
                span Get Membership
      .description
        span.desc Description
        p #{product.description}

