extends layout

block stylesheet
  block stylesheet
  link(rel='stylesheet', href='/stylesheets/shop.css')


block content
  .banner
    .overlay
    .danger
    .content
      .buy
        h1 BUY MORE<br>GROW MORE
        .offers
          if locals.currentUser && locals.checkMember
            p Use your membership <br>for EXCLUSIVE OFFERS
          else
            p Get our gym membership<br>for EXCLUSIVE OFFERS
            a.global-button-white(href='#') Get Membership
      .bundle
        .container
          img(src="https://res.cloudinary.com/djg52dvw1/image/upload/v1662543240/express-members-only/products/products-bundle_yew932.png", alt="Primal products bundle")
  .shop
    .shop-container
      each product in products
        a.product-container(href=product.default_url)
          .product-photo
            img(src=product.photo_url, alt="product photo")
          .product-info
            p.price $#{product.options[0].cost.price.toFixed(2)}
            p.name #{product.name} 
            .members-price
              .logo-container
                img(src="https://res.cloudinary.com/djg52dvw1/image/upload/v1661158616/express-members-only/logo_lowres_wwdllp.png", alt="membership logo")
              p Members: $#{product.options[0].cost.members_price.toFixed(2)}
