extends layout

block stylesheet
  link(rel='stylesheet', href='/stylesheets/talkboard.css')

block content
  .content
    .create
      h1 TALK-BOARD #{message}
      if locals.currentUser && locals.checkMember
        p Hello #{locals.currentUser.username}, what do you want to share today?
        form(action='/message' method='post')
          textarea.global-input(name="message" id='message' cols="30" rows="10")
            if message !== undefined
              | #{message}
          if err
            p #{err[0].msg}
          button.global-button(type='submit') Post Message
      else
        p Get your membership and take advantage of our exclusive talk-board where you can meet other gym bros or ask for advice.
        a(href="/membership") BECOME ONE OF US 
    .messages-container
      each message in messages
        .message
          .head
            .username-container
              .img-container
                img(src="https://res.cloudinary.com/djg52dvw1/image/upload/v1661158616/express-members-only/logo_lowres_wwdllp.png", alt="primal membership logo")
              span.username #{message.author.username}
          .body
            .message-content
              p #{message.message}
            .date-container
              span.date #{message.date}
              .delete-button 
                i.bi.bi-trash


        